.homepage-container{
    background-color: $color-light;
    border-radius: $radius;
    margin: $base-size * 4 auto;
    padding: $base-size * 4 $base-size * 2;
}

.homepage-widget{
    text-align: center;
    padding: 8px;
}

.homepage-sections{
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 12px;
}

.homepage-section{
  position: relative;
  width: 320px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: $transition;
}

.homepage-section a{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 22px;
  color: $color-light;
  text-decoration: none;
}

.homepage-section__title{
  position: relative;
  display: block;
  transition: $transition;
}

.homepage-section__subtitle{
  position: relative;
  font-size: 14px;
  opacity: 0;
  transition: $transition;
}

.homepage-section:hover .homepage-section__title{
  transform: $transform;
}

.homepage-section:hover .homepage-section__subtitle{
  opacity: 1;
}

.homepage-section--order{
  background-image: url("../../images/homepage/pizza-1.jpg");
  border-radius: $radius;
}

.homepage-section--booking{
  background-image: url("../../images/homepage/pizza-2.jpg");
  border-radius: $radius;
}

.opening-hours{
  display: flex;
  height: 160px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-main;
  color: $color-light;
  padding: 6px;
  font-weight: bold;
  border-radius: $radius;
  margin-bottom: 20px;
}

.opening-hours__title{
  font-size: 22px;
}

.opening-hours__subtitle{
  font-size: 14px;
}

.carousel{
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
}

.carousel-slides-container{
  display: flex;
  transition: transform 0.6s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.carousel-item{
  display: flex;
  align-items: center;
  min-width: 100%;
}

.carousel-item img{
  width: 60%;
  height: auto;
  display: block;
}

.carousel-text{
  width: 40%;
  padding: 20px;
  font-size: 1.2em;
  color: $color-dark;
}

.foto-gallery-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.foto-gallery-item{
  position: relative;
  width: 190px;
  height: 175px;
  overflow: hidden;
}

.foto-gallery-item img{
  display: block;
  transition: $transition;
  width: 100%;
  height: 100%;
}

.foto-gallery-item:hover img{
  transform: scale(1.1);
}

.foto-gallery-item .overlay{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}

.foto-gallery-item:hover .overlay{
  opacity: 1;
  pointer-events: auto;
}

.overlay i{
  font-size: 24px;
  color: $color-light;
  background: $color-dark;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.overlay i:hover{
  transform: scale(1.1);
  color: $color-main;
}

.liked {
  color: $color-warning;
}

.insta-link{
  text-align: left;
  margin-left: 10px;
  margin-top: 16px;
}

.insta-link a{
  text-decoration: none;
  color: $color-dark;
  font-size: 14px;
  transition: $transition;
}

.insta-link a:hover{
  color: $color-main;
  font-size: 1.2em;
}